<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                       "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:assignment.db</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="com.exemplo.model.Pedido"/>
        <mapping class="com.exemplo.model.Item"/>
        <mapping class="com.exemplo.model.Produto"/>
        <mapping class="com.exemplo.model.ProdutoEletronico"/>
        <mapping class="com.exemplo.model.ProdutoPerecivel"/>
    </session-factory>
</hibernate-configuration>
